<h2><%= @user.name %>'s profile</h2>
<%= user_avatar(@user, 100) %>
<p>
<%= render 'friend_buttons' %>


</p>
<div class="user_details">
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
</div>

<% if @user == current_user %>
  <%= link_to "Edit Details", edit_user_registration_path(current_user) %> 
  <h4>Notifications:</h4>
  <% @user.received_requests.each do |request| %>
    <%= "#{User.find_by(id: request.sender_id).name}:" %>
    <%= link_to "accept", friendships_path(sender_id: request.sender_id), method: :post %>
    <%= link_to "reject", friend_request_path(sender_id: request.sender_id), method: :delete %>
  <% end %>
<% end %>
<br>
<h4>Posts:</h4>
<div class="post_feed">
  <%= render @posts %>
</div>




