<%= render @post %>
<% if @likes.any? %>
  <p>
  Liked:
  <% @likes.each do |like| %>
    <% if like == @likes.last %>
      <%= link_to "#{like.user.name}", user_path(like.user.id) %>
    <% else %>
      <%= link_to "#{like.user.name}, ", user_path(like.user.id) %>
    <% end %>
  <% end %>
  </p>
<% end %>

Comments:
<%= render 'comment_form' %>
<%= render @comments %>